form.signup,
form.login {
  margin-top: 50px;
}

h6 .addressLink {
  color: darkgray;
}

#footerPossitioningDiv {
  min-height: 86.7vh;
}

footer {
  background-color: lightgrey;
}

/* #personalNotesColumn {
  border: 2px solid black;
}

#personalRatingsRow  {
  padding: 3px 1px 1px;
  border-bottom: 2px solid black;
}

#NotesTitle  {
  border-bottom: 2px solid black;
} */