form.signup,
form.login {
  margin-top: 50px;
}

h6 .addressLink {
  color: darkgray;
}

/* Sticky Footer */

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}

#footerPossitioningDiv {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
  background-color: lightgrey;
}

/* End Sticky Footer */

/* Styling for rating stars */ 

.ratingsTable td {
  font-weight: bold;
}

.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}
 
.stars-outer::before {
  content: "\f006 \f006 \f006";
}
 
.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}
 
.stars-inner::before {
  content: "\f005 \f005 \f005";
  color: #f8ce0b;
}